<%- include('partials/header.ejs') %>
  <!-- <body> -->
    <h1><%= title %></h1>
    <p>We are still building the <%= title %> page <br><br><br> Here you will be able to read stories by people/ on topics you don't follow</p>
  <!-- <a href="/home">homse</a> -->
  </body>
<%- include('partials/footer') %>
