<%- include('partials/header.ejs') %>
  <!-- <body> -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/head.png" alt="avatar" class="avatar img-thumbnail bg-success">
    <h1>Bio</h1>
    <h5 class="border">Born in Kansas, and like little Ellie,<br>  I always dreamed that a hurricane would take me somewhere to another country.
    <br>I discovered the world of taletree and began to write and see the world<br>through the vivid imagination I share with my friends.
    </h5>
  </body>
<%- include('partials/footer') %>
